In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

%matplotlib inline

Read files:

In [5]:
machine_usage_data_path = 'data/machine_usage.tar.gz'
mu_headers=['machine_id', 'time_stamp', 'cpu_util_percent', 'mem_util_percent', 'mem_gps', 'mpki', 'net_in', 'net_out', 'disk_io_percent']
chunk_size = 10**6
#  dfs = []
# with pd.read_csv(machine_usage_data_path, chunksize=chunk_size, iterator=True) as reader:
#     for chunk in reader:
#         df = pd.DataFrame(chunk)
#         dfs.append(df)
# machine_usage_dataframe = pd.concat(dfs)
machine_usage_data_frame = dd.read_csv(machine_usage_data_path)

/home/tianxi/work/paper/playground/lib/python3.11/site-packages/dask/dataframe/io/csv.py:544: UserWarning: Warning gzip compression does not support breaking apart files
Please ensure that each individual file can fit in memory and
use the keyword ``blocksize=None to remove this message``
Setting ``blocksize=None``
  warn(

TypeError: function takes exactly 5 arguments (1 given)

In [7]:
machine_meta_dataframe.head(20)

,machine_id,time_stamp,failure_domain_1,failure_domain_2,cpu_num,mem_size,status
0,machine_meta.csv,0.0,219.0,17.0,96.0,100.0,USING
1,m_1,148984.0,219.0,17.0,96.0,100.0,USING
2,m_1,535156.0,219.0,17.0,96.0,100.0,USING
3,m_1,552384.0,219.0,17.0,96.0,100.0,USING
4,m_1,658423.0,219.0,17.0,96.0,100.0,USING
5,m_1,664518.0,219.0,17.0,96.0,100.0,USING
6,m_1,681229.0,219.0,17.0,96.0,100.0,USING
7,m_1,683653.0,219.0,17.0,96.0,100.0,USING
8,m_10,0.0,128.0,17.0,96.0,100.0,USING
9,m_10,570024.0,128.0,17.0,96.0,100.0,USING
10,m_10,573570.0,128.0,17.0,96.0,100.0,USING
11,m_100,0.0,9.0,9.0,96.0,100.0,USING
12,m_100,612226.0,9.0,9.0,96.0,100.0,USING
13,m_100,615987.0,9.0,9.0,96.0,100.0,USING
14,m_100,641294.0,9.0,9.0,96.0,100.0,USING
15,m_1000,0.0,89.0,16.0,96.0,100.0,USING
16,m_1000,599230.0,89.0,16.0,96.0,100.0,USING
17,m_1000,608335.0,89.0,16.0,96.0,100.0,USING
18,m_1001,0.0,92.0,19.0,96.0,100.0,USING
19,m_1001,571333.0,92.0,19.0,96.0,100.0,USING

In [ ]:
machine_meta_dataframe['status'].value_counts()

:

In [8]:
machine_meta_dataframe.sort_values(by="time_stamp")

,machine_id,time_stamp,failure_domain_1,failure_domain_2,cpu_num,mem_size,status
0,machine_meta.csv,0.0,219.0,17.0,96.0,100.0,USING
3989,m_1853,0.0,54.0,2.0,96.0,100.0,USING
11417,m_3396,0.0,67.0,17.0,96.0,100.0,USING
3985,m_1852,0.0,4.0,4.0,96.0,100.0,USING
11418,m_3397,0.0,224.0,19.0,96.0,100.0,USING
...,...,...,...,...,...,...,...
13068,m_3724,696608.0,70.0,18.0,96.0,100.0,USING
10072,m_3104,696608.0,246.0,6.0,96.0,100.0,USING
5449,m_2142,696632.0,194.0,19.0,96.0,100.0,USING
4121,m_1879,696633.0,115.0,13.0,96.0,100.0,USING
17592,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
machine_usage_data_frame.head(20)

,machine_id,time_stamp,cpu_util_percent,mem_util_percent,mem_gps,mpki,net_in,net_out,disk_io_percent
0,m_1932,386640,41,92,NaN,NaN,43.04,33.08,5
1,m_1932,386670,43,92,NaN,NaN,43.04,33.08,5
2,m_1932,386690,44,92,NaN,NaN,43.05,33.08,5
3,m_1932,386800,46,92,NaN,NaN,43.05,33.08,3
4,m_1932,386930,44,93,NaN,NaN,43.05,33.09,4
5,m_1932,387000,41,93,NaN,NaN,43.05,33.09,4
6,m_1932,387090,46,93,NaN,NaN,43.05,33.09,3
7,m_1932,387170,47,93,NaN,NaN,43.05,33.09,4
8,m_1932,387180,46,93,NaN,NaN,43.05,33.09,3
9,m_1932,387200,46,93,NaN,NaN,43.05,33.09,3
10,m_1932,387530,46,93,NaN,NaN,43.06,33.10,5
11,m_1932,387610,73,97,NaN,NaN,43.06,33.10,7
12,m_1932,387690,75,97,NaN,NaN,43.06,33.10,5
13,m_1932,387840,68,96,NaN,NaN,43.07,33.10,3
14,m_1932,387900,71,96,NaN,NaN,43.07,33.10,5
15,m_1932,387950,68,96,NaN,NaN,43.07,33.10,5
16,m_1932,387990,66,96,NaN,NaN,43.07,33.10,4
17,m_1932,388050,55,96,NaN,NaN,43.07,33.11,2
18,m_1932,388160,52,97,NaN,NaN,43.07,33.11,5
19,m_1932,388170,53,96,NaN,NaN,43.07,33.11,5